*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--font-family);
  height: 100%;
  margin: 0; 
  padding: 0;
  overscroll-behavior: none;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto; 
}

footer.mobile {
  background-color: white; 
  color: #0D0535; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-light {
  box-shadow: var(--box-shadow-light);
}

.card-dark {
  box-shadow: var(--box-shadow-dark);
}