html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: clamp(16px, 1.2vw, 20px);
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.3;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-text);
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary);
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color-highlight-bg);
}


.image-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.highlight {
  color: var(--color-primary);
}

.legal-information strong {
  font-weight: bold;
}

.description-box ul {
  list-style: none;
  margin: 1rem 0;
  padding-left: 0;
}

.description-box li {
  font-weight: bold;
  position: relative;
  padding-left: 1.2rem;
}

.description-box li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-bg);
}

.el_carousel_mask {
  background-color: transparent;
}

.linkedin-float {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;

  background-color: white;
  color: var(--color-bg);

  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.linkedin-float:hover {
  opacity: 1;
  background-color: #004182;
  color: white;
}

.linkedin-float i {
  font-size: 24px;
}

@media (max-width: var(--breakpoint-lg)) {
  html {
    font-size: 14px;
    line-height: 1.6;
  }

  body {
    padding: 0 1rem;
  }

  #app {
    padding: 1rem 0;
  }

  main {
    margin-top: 0;
  }

  .text-section,
  .image-section {
    width: 100%;
    padding: 1rem;
  }

  .image-section {
    height: 200px;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .description-box li {
    font-size: 0.95rem;
    padding-left: 1rem;
  }

  button {
    font-size: 12px;
  }

  .linkedin-float {
    top: 94%;
  }
}